.page-header-fixed .page-container
	margin-top: 0 !important

.text-bold
	font-weight: bold

.page-header.navbar .page-logo .logo-default
	margin-top: 3px
	width: 120px

h1.page-title
	margin: 0 0 20px 0 !important

.jobPositionContainer
	margin: 40px 0

.show
	display: block !important

.gangSheetForm .form-group
	margin-bottom: 5px

.v-select .selected-tag
	background: none!important
	border: none!important

.form-control
	padding: 3px

.switch label
	margin-top: 7px

.noMarginLeft
	.lever
		margin-left: 0!important

.pull-left
	float: left !important

#findContainer
	margin-top: 15px

.has-error .invalid-feedback
	display: block
